.hero-container{
display: flex;
gap: 10px;
padding: 10px;
font-size: 2em;
/* vertically center */
align-items: center;
border-radius: 20px;
background-color: beige;
/* width: 1000px; */
}

.hero-container img{
    width: 100%;
    height: 400px;
    border-radius: 20px;
}

.hero-container button {
    font-size: 1em;
    border-radius: 10px;
    background-color: brown;
    padding: 10px;
    cursor: pointer;

}
.hero-container button:hover{
    color: antiquewhite;
}

body{
    max-width: 1270px;
    margin: 0 auto;
}