.body{
    max-width: 1170px;
    margin: 0 auto;
}
.card{
    width: 300px;
    height: 500px;
    border: 6px solid peachpuff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.178);
    margin-bottom: 20px;
}
.card:hover{
    background-color: peru;
}

.card img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}
.card-section{
    text-align: center;
}

.card-container{
    /* display: flex; */
    display: grid;
    gap: 5px;
    flex-wrap: wrap;
    /* updated */
    grid-template-columns:repeat(5,1fr) ;
}

.card button{
    background-color: darkkhaki;
    border-radius: 10px;
    font-size: 1.25em;
    padding: 10px;
    cursor: pointer;
    
}


